<div id="headerBG" class="container-fluid align-items-center">
  <div class="container">
    <video
      autoplay
      loop
      muted
      oncanplay="this.play()"
      onloadedmetadata="this.muted = 'true'"
    >
      <source src="assets/video/video-bg.mp4" type="video/mp4" />
    </video>
    <div class="row">
      <div class="col">
        <h1>GALAXY STORE</h1>
        <h3>Make your own Galaxy!</h3>
        <h5>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolores
          hic perspiciatis ex repudiandae quidem, porro ipsam voluptatem aliquid
          amet veritatis eligendi officia rem, necessitatibus deserunt
          doloremque nulla accusamus praesentium?
        </h5>
        <a routerLink="products" type="button" class="btn btn-dark"
          >Create your system!</a
        >
      </div>
    </div>
  </div>
</div>
